<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Eat-Da-Burger-App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
         <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/burger_style.css" type= "text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>